$white: rgb(255,255,255);
$primary: rgb(55,62,144);
$secondary: rgb(193,118,170);
$color-background: rgb(240,235,225);
$color-text: rgb(90,31,24);
$black: rgb(2,2,2);
$padding-desktop: 32px;
$padding-mobile: 16px;


$serif-font: 'Noto Serif', serif;
$sans-font: 'Work Sans', sans-serif;

  // Responsiveness

  // The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default
// 960px container + 4rem
$desktop: $tablet + (2 * $gap) !default
// 1152px container + 4rem
$widescreen: $tablet + (2 * $gap) !default
// 1344px container + 4rem
$fullhd: $tablet + (2 * $gap) !default;